.env
/env
*.sqlite3
/catalog/migrations
locallibrary/__init__.py
locallibrary/__pycache__
db.sqlite3
migrations/
local_settings.py
*.pyc
__pycache__/
locallibrary/__pycache__/
catalog/test/__pycache__/
.vscode/
.idea/
.pycharm/
logs/
temp/
**/__init__.py
.idea

