{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ song.title }}</h1>

  <p><strong>Виконавець:</strong> <a href="{{ song.author.get_absolute_url }}">{{ song.author }}</a></p>
  <p><strong>Жанр:</strong> {{ song.genre.all|join:", " }}</p>
<div class="column">
    <p><strong>Оригінал:</strong> {{ song.lyrics |linebreaks }}</p>
    </div>

    <div class="column">
      <p><strong>Переклад:</strong> {{ song.translation |linebreaks }}</p>
      </div>
  <!-- author detail link not yet defined -->

    {% for copy in song.songinstance_set.all %}
      <hr />
      <p
        class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}
